{{> header }}
<div class="container">
   <div class="top"><div>
   <div class="">
       <div class="jumbotron bluejumbo">
           <h1>{{ title }}</h1>
       </div>
      <h2>Usuarios del sistema</h2>
      {{> usuarios}}
      <br>
      <h2>Tickets en el sistema</h2>
      {{> tickets}}
      <br>
      <h2>Chats registrados hasta el momento</h2>
      {{> chats}}
   </div>
</div>
{{> footer }}